:root{
    --bg-color: rgb(255, 253, 243);
    --main-color: rgb(65, 65, 65);
}



body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:var(--bg-color);
    font-family: Muli, sans-serif;
    font-size: 16px;
}
header{
    width: 100%;
    height: 20vh;
    padding: 0px 5px;
    margin: 0;
    text-align: center;
}
header h1{
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px 5px 4px pink;
    font-weight: bold;
    font-size: 4rem;
    margin-top: 0;
}


nav ul{
    width: 100%;
    background-color:var(--main-color);
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    overflow: auto;
}
nav li{
    float: left;
}
nav li a.hastam{
    background-color: green;
    color: white;
}
nav a{
    display: block;
    color: rgb(212, 206, 206);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li :hover{
    background-color:black;
}



section{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    flex-grow: 1;
}
article{
    direction: rtl;
    border: 2px solid var(--main-color);
    box-shadow: 2px 2px 4px var(--main-color);
}
article:hover{
    transform: scale(1.005);
    box-shadow: 4px 4px 6px var(--main-color);
}


article h3{
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 6px;
}
article p{
    font-size: 1.2rem;
    font-weight: lighter;
}
article p::selection{
    background-color: yellow;
    color: red;
}

footer{
    text-align: center;
}
footer address{
    background-color: rgb(141, 154, 255);
    font-weight: 400;
    font-style: italic;
}