:root{
    --bg-color: rgb(255, 253, 243);
    --main-color: rgb(65, 65, 65);
}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color);
    font-family: Muli, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}


.header {
    width: 100%;
    height: auto;
    padding: 0px 5px;
    margin: 0;
    text-align: center;
}
.header h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 5px 5px 4px pink;
    margin-top: 0px;
    margin-bottom: 4px;
}
.header p{
    margin:0px ;
    padding: 2px 5px;
    width: 100%;
    height: auto;
    font-size: 1.5rem;
    font-weight:normal;
    text-shadow: 1px 1px 3px black;
}
.header p::selection{
    background-color: yellow;
    color: red;
}
.header button{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0px;
    background-color: green;
    cursor: pointer;
    box-shadow: 2px 2px 4px 0 green ;
    border-radius: 5px;
}
.header button:hover{
    transform: scale(1.2);
    opacity: 0.9;
}




.navigation{
    width: 100%;
    background-color:var(--main-color);
}
.nav{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    overflow: auto;
}
.nav li{
    float: left;
}
.nav li a.hastam{
    background-color: green;
    color: white;
}
.nav a{
    display: block;
    color: rgb(212, 206, 206);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav li :hover{
    background-color:black;
}




.features{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    justify-content: center;
    margin-top: 2px;
}



.features div{
    border: 2px solid var(--main-color);
    border-top: none;
    border-collapse: collapse;
    box-shadow: 2px 2px 4px 0 var(--main-color);
    overflow-y: auto;
}
.features div:hover{
    transform: scale(1.005);
    box-shadow: 4px 4px 6px var(--main-color);
}

.features div h2{
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 6px;
}
.features div p{
    direction: rtl;
    font-size: 1.2rem;
    font-weight: lighter;
}
.features div p::selection{
    background-color: yellow;
    color: red;
}



footer{
    text-align: center;
}
footer address{
    background-color: rgb(141, 154, 255);
    font-weight: 400;
    font-style: italic;
}


@media screen and (max-width: 768px) {
    
    .header h1 {
        font-size: 2.5rem; 
    }
    
    .header p {
        font-size: 1rem; 
    }
    .nav li {
        float: none;   
        width: 100%;   
        display: block;
        border-bottom: 1px solid rgba(255,255,255,0.1); 
    }
    
    
    .features {
        grid-template-columns: 1fr; 
        width: 96%; 
        margin: 10px auto; 
    }
    .features div {
        border-top: 2px solid var(--main-color); 
        margin-bottom: 10px;
    }
}
